body {
  background-color: #000;
  color: #e6f1fd;
}



.faq-imagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  
}

.faq-img {
  width: 2000px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}




.faq-container {
  color: #e6f1fd;
  max-width: 900px;
  margin: auto;
}

.accordion-button {
  padding: 1.5rem 1.25rem;
  font-size: 1.2rem;
  border-radius: 0 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  filter: invert(1);
}

.accordion-item {
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 12px;
  overflow: hidden;
}

.accordion-body {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-top: 1px solid #333;
  border-radius: 0 0 12px 12px;
}

/* Hover effect */
.accordion-button:hover {
  background-color: #111;
  transition: all 0.2s ease;
}
